<h1>Edit Pin</h1>

<%= form_tag "/pins/#{@pin.id}", method: :patch do %>
  <div>
    <%= label_tag :pin_name %>
    <%= text_field_tag :pin_name, @pin.pin_name %>
  </div>
  <div>
    <%= label_tag :address %>
    <%= text_field_tag :address, @pin.address %>
  </div>
  <div>
    <%= label_tag :map_id %>
    <%= text_field_tag :map_id, @pin.map_id %>
  </div>
  <div>
    <%= label_tag :category_id %>
    <%= text_field_tag :category_id, @pin.category_id %>
    <!-- https://stackoverflow.com/questions/995923/drop-down-box-in-rails -->
  </div>
  <div>
    <%= label_tag :description %>
    <%= text_area_tag :description, @pin.description %>
  </div>
  <div>
    <%= submit_tag %>
  </div>
<% end %>

<%= button_to "Delete Pin", {:action => "destroy", :id => @pin.id}, :method => :delete %>