<h1>Edit Pin</h1>

<%= form_tag "/pins/#{@pin.id}", method: :patch do %>
  <div>
    <%= label_tag :pin_name %>
    <%= text_field_tag :pin_name, @pin.pin_name %>
  </div>
  <div>
    <%= label_tag :address %>
    <%= text_field_tag :address, @pin.address %>
  </div>
  <div>
    <%= label_tag :map_id %>
    <%= text_field_tag :map_id, @pin.map_id %>
  </div>
  <div>
     <select name="category_id" id="category_id">
      <% @categories.each do |category| %>
        <option value="<%= category.id %>"><%= category.category_name %></option>
      <% end %>
    </select>
  </div>
  <div>
    <%= label_tag :description %>
    <%= text_area_tag :description, @pin.description %>
  </div>
  <div>
    <%= submit_tag %>
  </div>
<% end %>

<%= button_to "Delete Pin", {:action => "destroy", :id => @pin.id}, :method => :delete %>