<script src="http://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&libraries=places"></script>
<div id="contact" data-section="contact">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="row">
                  <div class="col-md-6">
                  <h1>Add a Pin</h1>
                  <a href="/maps/<%= @map.id %>">Back to <%= @map.map_name %> Map</a>
                  <!-- add contactForm id -->
                    <%= form_tag '/pins', method: :post do %>
                      <div class="form-group">
                          <input type="text" class="form-control" name="pin_name" placeholder="PLACE NAME" >
                          <div class="help-block with-errors"></div>
                      </div>
                      <div class="form-group">
                          <input type="text" name="address" class="form-control" id="input" placeholder="ADDRESS (GUESSES OK!)">
                          <div class="help-block with-errors"></div>
                      </div>
                      <div class = "form-group">
                        <textarea placeholder="Write reccommendations for food, beverages, things to do, etc." id="message" name="description" class="form-control" rows="5"></textarea>
                         <div class="help-block with-errors"></div>
                      </div>
                      <div>
                        <%= hidden_field_tag "map_id", params[:map_id] %>
                        <div class="help-block with-errors"></div>
                      </div>
                      <div>
                        <select name="category_id" id="category_id">
                          <% @categories.each do |category| %>
                            <option value="<%= category.id %>"><%= category.category_name %></option>
                          <% end %>
                        </select>
                      </div>
                      <input class="btn btn-default" type="submit" value="Submit">
                  <% end %>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>