<%= @pin.pin_name %><br>
<%= @pin.description %><br>
<%= @pin.address %><br>
<%= @pin.category.category_name %><br>
<div>
  <% if @pin.map.user_id == current_user.id %>
    <a href="/pins/#{<%= @pin.id %>/edit}">Edit pin?</a>
  <% end %>
</div>