<h1>EDIT UR <%= @map.map_name %> MAP </h1>

<div class="edit">
  <%= form_tag "/maps/#{@map.id}", method: :patch do %>
    <div class="form-group">
      <label>Map Name</label>
      <input type="text" name="map_name" value="<%= @map.map_name %>" class="form-control">
    </div>
    <div class="form-group">
      <label>Description</label>
      <input type="textarea" name="description" value="<%= @map.description %>" class="form-control">
    </div>
    <input class="btn btn-default" type="submit" value="Edit">
  <% end %>
  <br>
  <div class="btn btn-default">
    <%= link_to "Delete Map", {:action => "destroy", :id => @map.id}, :method => :delete %>
  </div>
  <div class="btn btn-default">
    <%= link_to "Back to Map", {:action => "show", :id => @map.id}, :method => :get %>
  </div>
</div>