<script async defer
src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap">
</script>
<h1>MAP</h1>
<div>
  <%= @map.map_name %><br>
  <%= @map.description %>
</div>
<br>
<br>
<% @pins.each do |pin| %>
<div>
  <%= pin.pin_name %><br>
  <%= pin.description %><br>
  <%= pin.address %><br>
  <%= pin.category.category_name %><br>
  <a href="/pins/<%= pin.id %>/edit">Edit pin?</a>
</div><br>
<% end %>

<a href="/maps/<%= @map.id %>/edit">Edit?</a>

<%= link_to "New Pin", { :action => "new", :controller => "pins", :map_id => @map.id } %>

<a href="/maps">Back to all your Maps</a>

<div ng-app="app">
  <div ng-controller="usersCtrl" id='angularInit' ng-init="setup(<%= @map.user.id %>, <%= @map.id %>)">
    <div id="map"></div>
  </div>
</div>