<script async defer
src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap">
</script>
<h1>MAP</h1>
<div>
  <%= @map.map_name %><br>
  <%= @map.description %>
</div>
<br>
<br>
<div>
  <% @pins.each do |pin| %>
  <div>
    <%= pin.pin_name %><br>
    <%= pin.description %><br>
    <%= pin.address %><br>
    <%= pin.category.category_name %><br>
    <% if @map.user_id == current_user.id %>
      <a href="/pins/<%= pin.id %>/edit">Edit pin?</a>
    <% end %>
  </div><br>
  <% end %>
</div>

<div class="buttons">
  <% if @map.user_id == current_user.id %>
    <div class="btn btn-default">
      <%= link_to "Edit Map", {:action => "edit", :id => @map.id}, :method => :get %>
    </div>
    <div class="btn btn-default">
      <%= link_to "New Pin", { :action => "new", :controller => "pins", :map_id => @map.id } %>
    </div>
    <div class="btn btn-default">
      <%= link_to "Back to All Maps", {:action => "index", :controller => "maps"}, :method => :get %>
    </div>
  <% else %>
    <div class = "btn btn-default">
      <%= link_to "Back to profile", {:action => "show", :controller => "users", :id => @map.user_id }, :method => :get%>
    </div>
  <% end %>
</div>

<div ng-app="app">
  <div ng-controller="usersCtrl" id='angularInit' ng-init="setup(<%= @map.user.id %>, <%= @map.id %>)">
    <div id="map"></div>
  </div>
</div>