<h2><%= @user.first_name %> <%= @user.last_name %></h2>
<div class="signup">
  <div>
    <%= image_tag @user.avatar.url %>
  </div>
  <div>
    <h3>Maps</h3>
    <% @user.maps.each do |map| %>
      <div>
        <a href="/maps/<%= map.id %>"><%= map.map_name %></a>
      </div>
    <% end %>
  </div>
  <div>
    <% if current_user.id != @user.id %>
      <h3>Follow <%= @user.first_name %></h3>
    <% end %>
  </div>
</div>