<h2><%= @user.first_name %> <%= @user.last_name %></h2>
<div class="signup">
  <div>
    <%= image_tag @user.avatar.url %>
  </div>
  <div>
    <h3>Maps</h3>
    <% @user.maps.each do |map| %>
      <div>
        <a href="/maps/<%= map.id %>"><%= map.map_name %></a>
      </div>
    <% end %>
  </div>
  <div>
    <% if current_user.id != @user.id && @friends.index(current_user.id)==false %>
      <div class="btn btn-default">
        <%= link_to "Follow #{ @user.first_name }", {:action => "create", :controller => :friends, :id => @user.id }, :method => :create %>
      </div>
    <% else %>
      <div>
        You are following <%= @user.first_name %>
      </div>
    <% end %>
  </div>
</div>