<h2><%= @user.first_name %> <%= @user.last_name %></h2>
<div class="signup">
  <div>
    <%= image_tag @user.avatar.url %>
  </div>
  <div>
    <h3>Maps</h3>
    <% @user.maps.each do |map| %>
      <div>
        <a href="/maps/<%= map.id %>"><%= map.map_name %></a>
      </div>
    <% end %>
  </div>
  <div>
    <% if current_user.id != @user.id && @friends.index(current_user.id)==nil %>
      <div class="btn btn-default">
        <%= link_to "Follow #{ @user.first_name }", {:action => "create", :controller => :friends, :id => @user.id }, :method => :create %>
      </div>
    <% elsif @friends.index(current_user.id) %>
      <div>
        You are following <%= @user.first_name %>
      </div>
    <% end %>
  </div>
</div>


<!-- theme code -->


<div id="team" data-section="team">
  <div class="container">
    <div class="row">
      <div class="team col-sm-6 col-md-4">
        <img src="<%= @user.avatar.url %>">
      </div>
      <div class="team-info">
        <h5 class="team-title"><%= @user.first_name %> <%= @user.last_name %></h5>
      </div>
      <div>
        <h3>Maps</h3>
        <% @user.maps.each do |map| %>
          <div>
            <a href="/maps/<%= map.id %>"><%= map.map_name %></a>
          </div>
        <% end %>
      </div>
      <div>
        <% if current_user.id != @user.id && @friends.index(current_user.id)==nil %>
          <div class="btn btn-default">
            <%= link_to "Follow #{ @user.first_name }", {:action => "create", :controller => :friends, :id => @user.id }, :method => :create %>
          </div>
        <% elsif @friends.index(current_user.id) %>
          <div>
            You are following <%= @user.first_name %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>