<div class="portfolio-header">
  <div class="header-content">
    <h3 class="animated fadeInDown">What's up, <%= @user.first_name %>?</h3>
    <div class="separator-line animated fadeInUp"> </div>
    <i class="lnr lnr-user"></i>
  </div>
</div>



<div id="pricing" data-section="pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="pricing-table">
                    <div class="pricing-table-title">
                        <h5 class="pricing-title"><%= @user.first_name %> Stuff</h5>
                    </div>
                    <div class="pricing-table-content">
                        <ul>
                            <li><i class="lnr lnr-map"></i> <a href="/maps">View Your Maps</a></li>
                            <li><i class="lnr lnr-pencil"></i> <a href="/users/<%= @user.id %>/edit">Edit Your Profile</a></li>
                            <li><i class="lnr lnr-star"></i> <a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </div><!-- / pricing-table -->
            </div>
            <div class="col-md-6">
                <div class="pricing-table">
                    <div class="pricing-table-title">
                        <h5 class="featured pricing-title">Friends</h5>
                    </div>
                    <div class="pricing-table-content">
                        <ul>
                          <% @friends.each do |friend| %>
                            <li><i class="lnr lnr-heart"></i><a href="/users/<%= friend.id %>"> <%= friend.first_name %> </a></li>
                          <% end %>
                        </ul>
                    </div>
                </div><!-- / pricing-table -->
            </div>
        </div>
    </div><!-- / container -->
</div><!-- / pricing section 3col -->
