<script async defer
src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap">
</script>
<h1><%= @category.category_name %></h1>

<% @pins.each do |pin| %>
  <a href="/pins/<%= pin.id %>">
  <%= pin.pin_name %></a><br>
<% end %>

<a href="/categories">Back to Categories</a>

<div ng-app="app">
  <div ng-controller="categoriesCtrl" id='angularInit' ng-init="setup(<%= @category.id %>)">
    <div id="map"></div>
  </div>
</div>